@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Bebas+Neue&display=swap');


:root{
    --primary-color:#4c0d5e46;
    --second-color: #ffffffc5;
}

body, html {
    height: 100%;
    margin: 0;
  }

body{
    padding: 0;
    margin: 0;

}



header{
    position: sticky;
    top: 0;

}


nav{
    color: var(--second-color);
    width:100%;
    background: var(--primary-color);
    position:fixed;
    top:0;
    height:50px;
    font-family: 'Asul', sans-serif;
    display:flex;
    justify-content:space-around;
  }

  .navbarBand{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .navbarBand h1{

    margin: auto;
  }
  
  
  
  label{
    display:none;
  }
  
  
  nav li{
    display:inline;
  }
  
  #nav-button{
    display:none;
  }
  
  nav a{
    text-decoration:none;
    color:white;
    padding:0px 10px;
  }
  
  
  @media only screen 
    and (max-width: 736px) 
    and (orientation: portrait) {
      nav{
        align-items:center;
      }
      
      nav ul{
        position:absolute;
        top:34px;
        width:100%;

        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow:hidden;
        transition:all 0.5s ease-in-out;
      }
      
      nav li{
        display:block;
        width:100%;
        padding:5px;  
  
      }
      
      label{
        display:block;
        padding:0px 10px;
        font-size:30px;
        cursor:pointer;
      }
      
      label:hover{
        color:white;
      }
      
      nav a{
        width:100%;
        display:block;
      }
      
      #nav-button:checked ~ ul{
          max-height:540px;
          transition: all 0.5s ease-in-out;
      }
      
      nav li:hover{
        background:darkpurple;
      }
  }

.fullscreen{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background-image: url("https://wallpaperaccess.com/full/5927911.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%; 

}


.content{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: var(--primary-color);
    position: relative;
    animation: mymove 1s infinite;
    padding: 20px;
    margin: 0;
}

section{
    font-family: 'Asul', sans-serif;
    text-align: center;


}

section h1 , p {
    color: azure;
}

/* BUTTON */
.button-31 {
    background-color: #4d0d5eef;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    text-align: center;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-31:hover,
  .button-31:focus {
    opacity: .75;
  }



  /**Animation**/


  @keyframes mymove {
    0% {top: 0px;}
    50% {top: 3px;}
    100% {top: 0px;}
  }


  .glitch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

 }
 
 .glitch {
    position: relative;
    font-size: 40px;
    font-weight: 900;

    color: #fff;

    z-index: 1;
 }
 
 .glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;

    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;

    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
 }



           
  @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }